body{
    /* max-height:auto; */
    /* min-height: auto; */
/* background-color: aliceblue; */
height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    overflow: auto;
   margin: auto;
}