body{
    /* max-height:auto; */
    /* min-height: auto; */
/* background-color: aliceblue; */
height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   /* flex-direction: column; */
    overflow: auto;
   margin: auto;
}