
.dash{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    width: 100vw;
}

.withdraw,.deposit{
    margin: 20px auto;
    
    font-family: 'poppins',sans-serif;
    max-width: 600px;
    min-width: 200px;
    width: 30vw;
padding-inline: 30px;
padding-block: 20px;
    background-color: rgba(0, 0, 0, .8);
    /* background: linear-gradient(45deg,rgba(203, 24, 24, 0.856) 30%,rgba(33, 109, 171, 0.797)  ); */
    border: 3px solid white;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

h1{
    color: snow;
    text-shadow: 2px 2px 5px black;
    align-self: center;
    font-size: 4ch;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    }

input{
    font-size: larger;
color: steelblue;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid steelblue;
    margin-block: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}
label{
    color: snow;
    font-size: larger;
    text-align: left;
    margin-block: 10px;
}
button{
    align-self: center;
    color:steelblue;
    font-weight: 600;
    border: none;
        padding-inline: 30px;
        padding-block: 10px;
        border-radius: 20px;
    }
    
    button:hover{
    
        background-color: steelblue;
        color: white;
    }