/* You can add global styles to this file, and also import other style files */
body{

    background-image:linear-gradient(rgba(2, 3, 45, 0.7),rgba(2,3,45,.7)), url(./assets/bankbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    /* background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
 
}