<form (ngSubmit)="register()" [formGroup]="registerForm">
    <div class="register">
        <i class="fa-regular fa-user fa-2x"></i>
        <!-- <h1>Welcome</h1> -->
        <br>
        <label for="user">Username</label>
        <input type="text" name="user" id="user" placeholder="Username" formControlName="uname">
        <label for="acid">Account Number</label>
        <input type="text" name="acid" id="acid" placeholder="Account Number" formControlName="acno">
        <label for="pid">Password</label>
        <input type="password" name="pid" id="pid" placeholder="Enter password" formControlName="psw"><br>
        <button type="submit">REGISTER</button> <br>

    </div>
</form>